## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.rsuser
*.sln.docstates

## Rider
.idea/
*.sln.iml

## VS Code (opcional: quita esta sección si quieres versionar .vscode)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## .NET
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.meta
*.obj
*.iobj
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

## Herramientas y cobertura
TestResults/
[Bb]enchmarkDotNet.Artifacts/
*.coverage
*.coveragexml

## Otros
*.DotSettings.user
*.dbmdl
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs
MigrationBackup/
ScaffoldingReadMe.txt

## Entornos locales (secretos)
appsettings.*.local.json
secrets.json
.env
.env.*
