{
  "ConnectionStrings": {
    "DefaultConnection": "Host=TU_SERVIDOR.render.com;Port=5432;Database=TU_BASE;Username=TU_USUARIO;Password=TU_PASSWORD;SSL Mode=Require;Trust Server Certificate=true"
  }
}
